<script type="text/javascript" th:src="@{/js/system/common.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/js/manager/work.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<div id="manager-work-tool-bar" style="padding: 10px 10px 0 10px">
    <form id="manager-work-search-form">
        <div class="easyui-linkbutton " id="manager-work-flash-btn" data-options="iconCls:'icon-reload'" style="width:70px">刷新
        </div>
        <div class="easyui-linkbutton " id="manager-work-add-btn" data-options="iconCls:'icon-add'" style="width:70px">新增</div>
        <div class="easyui-linkbutton " id="manager-work-deal-btn" data-options="iconCls:'icon-edit'" style="width:90px">标记完成
        </div>
        <div class="easyui-linkbutton " id="manager-work-delete-btn" data-options="iconCls:'icon-remove'" style="width:70px">删除
        </div>
        <span style="line-height: 26px; ">开始:<input name="manager-work-search-begin" id="manager-work-search-begin"
                                                    class="easyui-datetimebox" style="width:150px"/></span>
        <span style="line-height: 26px; ">结束:<input name="manager-work-search-end" id="manager-work-search-end"
                                                    class="easyui-datetimebox" style="width:150px"/></span>
        <div class="easyui-linkbutton " id="manager-work-select-btn" data-options="iconCls:'icon-search'" style="width:70px">搜索
        </div>
    </form>
</div>
<div id="manager_work_grid" style="padding: 10px">
</div>

<div id="manager_work_add_dialog" title="基础信息" >
    <form id="manager_work_form">
        <input type="hidden" name="id" id="id"/>
        <div style="float: left;height: 200px;">
            <p style="padding: 10px;">描&nbsp;&nbsp;&nbsp;述:<input name="manager-work-summary" id="manager-work-summary"
                                                            style="width: 300px;height: 80px"
                                                            data-options="required:true"
                                                            multiline="true"
                                                            class="easyui-textbox easyui-validatebox"/></p>
            <p style="padding: 10px;">类&nbsp;&nbsp;&nbsp;型:<input name="manager-work-type" id="manager-work-type"
                                                            style="width: 300px;height: 35px"
                                                            data-options="
                                                                valueField: 'id',
                                                                textField: 'text',
                                                                data: [{id: 'R',text: 'R-例行工作'},
                                                                {id: 'A',text: 'A-权限问题'},
                                                                {id: 'S',text: 'S-软件问题'},
                                                                {id: 'H',text: 'H-硬件问题'},
                                                                {id: 'I',text: 'I-IT用户申请'},
                                                                {id: 'C',text: 'C-配置修改'},
                                                                {id: 'O',text: 'O-其他问题'}]"
                                                            class="easyui-combobox"/></p>
            <p style="padding: 10px ;">优先级:<input name="manager-work-level" id="manager-work-level"
                                                            style="width: 300px;height: 35px"
                                                            data-options="
                                                                valueField: 'id',
                                                                textField: 'text',
                                                                data: [{id: '2',text: '高'},{id: '1',text: '中'},{id: '0',text: '低'}]"
                                                            class="easyui-combobox"/></p>


        </div>
    </form>
</div>













