<script type="text/javascript" th:src="@{/js/system/common.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/js/document/document.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/js/document/sys.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<div id="document-sys-tool-bar" style="padding: 10px 10px 0 10px">
    <form id="document-sys-search-form">
        <div class="easyui-linkbutton " id="document-sys-flash-btn" data-options="iconCls:'icon-reload'" style="width:70px">刷新
        </div>
        <div class="easyui-linkbutton " id="document-sys-add-btn" data-options="iconCls:'icon-add'" style="width:70px">新增
        </div>

        <div class="easyui-linkbutton " id="document-sys-delete-btn" data-options="iconCls:'icon-no'" style="width:70px">
            删除
        </div>
        <div class="easyui-linkbutton " id="document-sys-detail-btn" data-options="iconCls:'icon-edit'" style="width:90px">
            查看详情
        </div>
        <span style="line-height: 26px; ">开始:<input name="document-sys-search-begin" id="document-sys-search-begin"
                                                    class="easyui-datebox" style="width:150px"/></span>
        <span style="line-height: 26px; ">结束:<input name="document-sys-search-end" id="document-sys-search-end"
                                                    class="easyui-datebox" style="width:150px"/></span>
        <div class="easyui-linkbutton " id="document-sys-select-btn" data-options="iconCls:'icon-search'" style="width:70px">搜索
        </div>
    </form>
</div>
<div id="document_sys_grid" style="padding: 10px">
</div>
<div id="document_sys_result_dialog"></div>


<div id="document_sys_add_dialog">
    <form id="document_sys_form" method="post" style="padding: 20px 0 0 0;" enctype="multipart/form-data" action="/document/sys/upload">
        <div style="float: left;height: 200px;">
            <!--<p style="padding: 10px;">描&nbsp;&nbsp;述:<input name="document-local-summary" id="document-local-summary"
                                                            style="width: 300px;height: 35px"
                                                            data-options="required:true"
                                                            class="easyui-textbox easyui-validatebox"/></p>-->
            <p style="padding: 10px;"><input name="document-sys-file" id="document-sys-file"
                                             style="width: 300px;height: 35px"
                                             type="file"
            /></p>
        </div>
    </form>
</div>






























