<script type="text/javascript" th:src="@{/js/system/common.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/js/check/check.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/js/check/space.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<div id="check-space-tool-bar" style="padding: 10px 10px 0 10px">
    <form id="check-space-search-form">
        <div class="easyui-linkbutton " id="check-space-flash-btn" data-options="iconCls:'icon-reload'" style="width:70px">刷新
        </div>

        <div class="easyui-linkbutton " id="check-space-detail-btn" data-options="iconCls:'icon-edit'" style="width:90px">
            查看详情
        </div>
        <span style="line-height: 26px; ">开始:<input name="checkspace-search-begin" id="check-space-search-begin"
                                                    class="easyui-datebox" style="width:150px"/></span>
        <span style="line-height: 26px; ">结束:<input name="check-space-search-end" id="check-space-search-end"
                                                    class="easyui-datebox" style="width:150px"/></span>
        <div class="easyui-linkbutton " id="check-space-select-btn" data-options="iconCls:'icon-search'" style="width:70px">搜索
        </div>
    </form>
</div>
<div id="check_space_grid" style="padding: 10px">
</div>
<div id="check_space_result_dialog"></div>































