<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>yuya-admin</title>
    <script type="text/javascript" th:src="@{/js/system/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/system/online.js}"></script>
</head>
<body>
<div id="online-tool-bar" style="padding: 10px">
    <div class="easyui-linkbutton " id="online-logout-btn" data-options="iconCls:'icon-add'" style="width:85px">强制下线
    </div>
    <div class="easyui-linkbutton " id="online-flash-btn" data-options="iconCls:'icon-reload'" style="width:85px">刷新页面
    </div>
    登陆名:<input id="login_name" class="textbox" style="height: 22px;"/>
    中文名:<input id="zh_name" class="textbox" style="height: 22px;"/>
    <div class="easyui-linkbutton " id="online-select-btn" data-options="iconCls:'icon-add'" style="width:60px">查询
    </div>
</div>
<div id="online_grid" style="padding: 10px">

</div>
</body>
</html>



