<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>yuya-admin</title>
    <link type="image/x-icon" rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <link type="image/x-icon" rel="bookmark" th:href="@{/image/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/system/login.css}"/>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/system/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/system/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/system/http_static.geetest.com_static_tools_gt.js}"></script>
</head>
<body>
<div id="login">
    <div style="padding: 15px 50px 0 60px;margin-left: -100px;margin-top: -20px">
        <p>
            账号:<input name="username" id="username" style="width: 300px;height: 35px" type="text" class="textbox"/>
        </p>
        <p style="padding-top: 50px;padding-bottom: 15px">
            密码:<input name="username" id="password" style="width: 300px;height: 35px" type="password" class="textbox"/>
        </p>

    </div>
</div>
</body>
</html>
