<script type="text/javascript" th:src="@{/js/system/common.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/js/ssh/host.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<div id="host-tool-bar" style="padding: 10px 10px 0 10px">
    <form id="host-search-form">
        <div class="easyui-linkbutton " id="host-flash-btn" data-options="iconCls:'icon-reload'" style="width:70px">刷新
        </div>
        <div class="easyui-linkbutton " id="host-save-btn" data-options="iconCls:'icon-add'" style="width:70px">新增</div>
        <div class="easyui-linkbutton " id="host-update-btn" data-options="iconCls:'icon-edit'" style="width:70px">修改
        </div>
        <div class="easyui-linkbutton " id="host-delete-btn" data-options="iconCls:'icon-remove'" style="width:70px">删除
        </div>

        <div class="easyui-linkbutton " id="host-detail-btn" data-options="iconCls:'icon-edit'" style="width:90px">
            查看详情
        </div>
        <div class="easyui-linkbutton " id="host-enable-btn" data-options="iconCls:'icon-add'" style="width:70px">启用
        </div>
        <div class="easyui-linkbutton " id="host-forbidden-btn" data-options="iconCls:'icon-remove'" style="width:70px">
            禁用
        </div>
        <span style="line-height: 26px; ">主机:<input name="host-search-host" class="easyui-textbox"
                                                    style="line-height: 26px;"/></span>
        <span style="line-height: 26px; ">PATH:<input name="host-search-envPath" class="easyui-textbox"
                                                      style="line-height: 26px;"/></span>
        <div class="easyui-linkbutton " id="host-select-btn" data-options="iconCls:'icon-search'" style="width:70px">搜索
        </div>
    </form>
</div>
<div id="host_grid" style="padding: 10px">

</div>
<div id="host_edit_dialog" class="easyui-tabs" style="width:100%;height:100%;">
    <div title="基础信息" style="float: left;height: 100%;display:none;">
    <form id="host_form">
        <input type="hidden" name="id" id="id"/>
        <div style="float: left;height: 200px;">
            <p style="padding: 10px;">描&nbsp;&nbsp;述:<input name="host-summary" id="host-summary"
                                                            style="width: 300px;height: 35px"
                                                            data-options="required:true"
                                                            class="easyui-textbox easyui-validatebox"/></p>
            <p style="padding: 10px;">主&nbsp;&nbsp;机:<input name="host-host" id="host-host"
                                                            style="width: 300px;height: 35px"
                                                            data-options="required:true"
                                                            class="easyui-textbox easyui-validatebox"/></p>
            <p style="padding: 10px ;">端&nbsp;&nbsp;口:<input name="host-port" id="host-port"
                                                             style="width: 300px;height: 35px"
                                                             data-options="required:true"
                                                             class="easyui-textbox easyui-validatebox"/></p>
            <p style="padding: 10px ;">用&nbsp;&nbsp;户:<input name="host-username" id="host-username"
                                                             style="width: 300px;height: 35px"
                                                             data-options="required:true"
                                                             class="easyui-textbox easyui-validatebox"/></p>
            <p style="padding: 10px ;">密&nbsp;&nbsp;码:<input name="host-password" id="host-password"
                                                             style="width: 300px;height: 35px"
                                                             data-options="required:true"
                                                             class="easyui-textbox easyui-validatebox"/></p>

            <p style="padding: 10px ;">PATH:<input name="host-envPath" id="host-envPath"
                                                   style="width: 300px;height: 100px;"
                                                   data-options="required:false,disabled:true"
                                                   multiline="true"
                                                   class="easyui-textbox easyui-validatebox"/></p>
        </div>
    </form>
    </div>
    <div title="详细信息" style="float: left;height: 100px;display:none;">
        <form id="host_detail_form">
            <div style="float: left;height: 100px;">
                <p style="padding: 10px;">操作系统:
                    <input id="host-os-name" name="host-os-name" class="easyui-combobox" style="width: 280px;height: 35px" />
                </p>
                <p style="padding: 10px ;">系统版本:
                    <input name="host-os-version" id="host-os-version"
                                                                 style="width: 280px;height: 35px"
                                                                 class="easyui-textbox easyui-validatebox"/></p>

                <p style="padding: 10px;">系统软件:
                    <input id="host-sw-name" name="host-sw-name" class="easyui-combobox" style="width: 280px;height: 35px" />
                </p>

                <p style="padding: 10px ;">软件版本:
                    <input name="host-sw-version" id="host-sw-version"
                           style="width: 280px;height: 35px"
                           class="easyui-textbox easyui-validatebox"/></p>

            </div>
        </form>
    </div>

</div>
















